div{
  /* border: dotted 2px black; */
  /* margin: 10px 0px 10px 0px; */
}
span{
  border: solid 1px;
  border-color: dimgrey;
}
p{
  background: greenyellow;
  color: black;
}
dl dt{
  font-weight: bold;
  font-size: 1.5em
}
dl dd{
  font-weight: bold;
  font-size: 1em
}
ul li{
  border: solid 1px;
  margin: 2px;
}
ul{
  list-style-type: none;
  /* define the image of list  */
  list-style-image: url(https://www.w3schools.com/cssref/sqpurple.gif);
}
div.hyperlinks a:link{
  color: white;
  text-decoration: none;
  background-color: dimgrey;
}
div.hyperlinks a:hover{
  font-size: 2em;
}
div.hyperlinks a:active{
  text-decoration: line-through;
}
div.hyperlinks a:visited{
  color: yellow;
  background: lightblue;
}
p::first-letter{
  font-size: 1.5em;
}
div:hover{
  /* background: rgba(255, 255, 255, 0.5); */
}
input:focus{
  background-color: lightgrey;
}
div{
  height: 100px;
  width: 150px;
}

#div_1{
  color: black;
  background-color: #F90;
  float: left;

}
#div_2{
  color: black;
  background-color: #0cf;
  width: 300px;
  height: 150px;
  /* float: left; */
  /* clear: left; */
}
#div_3{
  color: black;
  background-color: #3f0;
  float: right;
  margin-bottom: 10px;
  /* clear: left; */
}
.div4{
  color: black;
  background-color: lightgrey;
  position: absolute;
  top: 200px;
  left: 200px
}
.div5{
  color: white;
  background-color: purple;
  position: relative;
  top: 60px;
  left: 60px;
}
.div6{
  color: white;
  background-color: orange;
}
.imgtext{
  border: #06f dashed 1px;
  width: 260px;
  height: auto;
  background: white;
}
.imgtext div{
  width: auto;
  height: auto;
  background: white;
  color: blue;
}
.imgtext .img{
  float:right;
}
.signature{
  height: auto;
  width: auto;
  border: dashed 1px blue;
  position: absolute;
}
.signature div{
  height: auto;
  width: auto;
}
.signature .text{
  position: absolute;
  top: 10px;
  left: 10px;
}
